DATABASE_URL=postgresql+psycopg2://postgres:postgres@127.0.0.1:5432/site_gpt_db

LLM_AI=ollama
LLM_MODEL=qwen3.5:latest
LLM_EMBEDDING_MODEL=qllama/bge-small-en-v1.5:latest

OPENAI_API_BASE_URL=http://localhost:11434/v1
OPENAI_API_KEY=your_key
GEMINI_API_KEY=your_key
OPEN_ROUTER_API_KEY=your_key
GROQ_API_KEY=your_key

OLLAMA_HOST=http://localhost:11434
OLLAMA_USERNAME=
OLLAMA_PASSWORD=

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=noreply@example.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_TLS=true
MAIL_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0